/* for the main heading */
/* font from https://fonts.google.com/specimen/Unbounded */
@font-face {
	font-family: 'Unbounded';
	font-weight: bold;
	font-style: bold;
	src: url('../fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
}

/* for subheadings */
/* font from: https://ifonts.xyz/gopher-font-family.html */
@font-face {
	font-family: 'Gopher';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/GopherText-Regular.ttf') format('truetype');
}

/* for body text */
/* font from https://www.collletttivo.it/typefaces/apfel-grotezk */
@font-face {
	font-family: 'ApfelGrotezk';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/ApfelGrotezk-Regular.otf') format('opentype');
}

/* for captions */
/* font from https://www.dafontfree.co/radian-font/ */
@font-face {
	font-family: 'Radian';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Radian-Regular.ttf') format('truetype');
}

/* @font-face {
	font-family: 'WorkSansMedium';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Magilio';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/MagilioRegular-Yzv2O.ttf') format('truetype');
} */
