body {
  padding: 2rem;
  background-color: #E1DCD9;
  font-size: 16px;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: "ApfelGrotezk";
}

.divider {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #8597B1;
}

footer {
  background-color: #32435F;
  position: absolute;
  height: 25rem;
      bottom: 100;
      left: 0;
      right:0;
      padding: 2rem;
      display: flex;
}

/* Texts */

h1 {
  /* align: center;  */
  font-family: "Unbounded";
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Gopher";
}

h3 {
  font-family: "Gopher";
  /* font-style: italic; */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* color: #8597B1; */
}

h4 {
  font-family: "Gopher";
  margin-top: 1rem;
  /* color: #8597B1; */
}

h6 {
  font-family: "Gopher";
  margin-bottom: 0.25rem;
  opacity: 0.8;
}

p {
  font-family:"ApfelGrotezk";
  color: black;
  margin-top: 0;
}

code { background-color: #F8F2EF; padding: 0.5rem; display: block;?.m bvcA}

header {
  text-align: center;
}

label {
  font-family: "ApfelGrotezk";
  padding-right: 0.5rem;
}


/* List Content */

.slogan {
  text-align: center;
  margin-bottom: 8rem;
  /* background: #32435F; */
  display: block;
  /* margin-left: -10rem;
  margin-right: -10rem; */
  padding: 1.5rem;
  /* color: #E1DCD9; */
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

/* Navigation Bar */

nav a:hover, nav a:focus {
  text-decoration: none;
  background: black;
  color: white;
}

.nav-button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  padding: 0.7rem;
  color: black;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 1.1rem;
}

.nav-button:hover {
  color: #505B4D;
  background: black;
  color: white;
}

.nav-button:focus {
  color: #505B4D;
  background: black;
  color: white;
}

.nav-menu {
  text-align: center;
  padding-bottom: 2rem;

}

/* Form/Comment Elements */

.input-button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  color: white;
  background-color: #A67F78;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.input-button:hover {
  background-color: #A85242;
}

.input-button:focus {
  background-color: #A85242;
}

/* Buttons */

.button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  padding: 0.5rem;
  background-color: #A67F78;
  color: white;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 1.5rem;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.button:hover {
  background-color: #A85242;
}

.button:focus {
  background-color: #A85242;
}

/*  Checkout Elements */

.img-checkout * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.img-checkout img {
  max-width: 9rem;
  max-height: 9rem;
}
.img-checkout:hover > img {
  opacity: 0.7;
}

.img-checkout:focus > img {
  filter:brightness(70%);
}

.checkout-product-container {
  display: flex;
  align-items: center;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #505B4D;
  padding: 0.5rem;
}

.product-checkout-description {
  align-items: center;
  margin: 2rem;
}

.payment-form {
  display: inline-block;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 0rem;
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}

.checkout{
  padding-right: 7rem;
  padding-left: 7rem;
}

/* Image Links */

.image-link {
  max-width: 50rem;
  max-height: 50rem;
}

/* Referenced from https://www.30secondsofcode.org/css/s/image-overlay-hover/ */
.image-link * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.image-link img {
  vertical-align: top;
  backface-visibility: hidden;
  max-width: 30rem;
  max-height: 30rem;
}

.image-link:hover > img {
  opacity: 0.5;
}

.image-link:focus {
  /* Referenced from https://www.tutorialspoint.com/how-to-darken-an-image-using-css */
  filter: brightness(70%);
}

/* Radio Buttons */

.radio {
  accent-color: #505B4D;
  padding-top: 0.5rem;
  border: 0.2rem solid #6F826A;
  border-radius: 50%;
  align-items: center;
  height:0.8rem;
  width: 0.8rem;
}

.radio:hover {
  border-style: double;
}

/*First and Last Name Container */

.first-last-name-container {
  display: flex;
  align-items: center;
  max-width: 40rem;
  padding-top: 0.9rem;
}

.input {
  max-width: 60rem;
  min-width: 20rem;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
  font-family: "ApfelGrotezk";
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  border: none;
  flex:1;
  transition-property: background-color;
  transition-duration: 0.5s;
}



.name-input {
  font-family: "ApfelGrotezk";
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  border: none;
  flex:1;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.name-input:hover {
  background-color: #505B4D;
}

.name-input:focus{
  outline: 0.1rem solid #6F826A;
}

.input:hover {
  background-color: #505B4D;
}

.input:focus{
  outline: 0.1rem solid #6F826A;
}

.name-div {
  margin-right: 1rem;
  max-width: 20rem;
}

.product-listing-description {
  max-width: 30rem;
  flex:1;
  margin-left: 3rem;
}

.individual-product-img {
  max-width:30rem;
  max-height:30rem;
  flex-wrap: wrap;
}

.product-listing {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
padding-bottom: 5rem;
padding-top: 3rem;
}

/* Moodboard */
.moodboard{
  max-width: 40rem;
}

.product-qty{
  margin-left: -0.4rem;
  width: 2rem;
  font-family: "ApfelGrotezk"
}

/* product listings */

.product-list-container {
  display: grid;
  flex-wrap: wrap;
  /* margin-left: 2rem;
  margin-right: 2rem; */
  margin-bottom: 5rem;
  align-items: center;

}

.product-container{
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: #505B4D;
  flex-grow:1;
  align-items: center;
  padding-right:0.5rem;
}

.product-container img{
  width: 20rem;
  height: 20rem;
  align-items: center;

}

 .column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0.5rem;
  align-items: center;
}

.row {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.home-content {
  margin-bottom: 5rem;
}

.homepage-img {
  margin-top: -2rem;
  margin-bottom: -12.5rem;
  max-width: 100%;
}

/* .home-img-container {
  display: inline;
  margin-bottom: -4rem; */
  /* margin-left: -10rem;
  margin-right: -10rem; */
/* } */

.footer-container {
  display: flex;
  margin-top: -1rem;
}

.footer-element {
  padding-right: 2rem;
  padding-left: 2rem;
}

.about {
  margin-bottom: 3rem;
  margin-top: -1rem;
}

.purchased {
  text-align:center;
  margin-top: -5rem;
  padding: 10rem;
}

/* breakpoints */

@media screen and (max-width: 60rem) {
  .product-listing {
    flex-direction: column;
  }
}

@media (min-width: 10rem) {
  .row{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 49rem) {
  .row{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 90rem) {
  .row{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


#CompName {
  padding-top: -4.5rem;
  font-size: 10rem;
}
#comment-footer {
  margin-top: 3rem;
  margin-left: -1rem;
}

#footer-comment-label {
  color: #E1DCD9;
  margin-left: -0.5rem;
}

#nav-footer {
  padding-top: 2rem;
}

#nav-title-footer {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  color: #E1DCD9;
}

#nav-button-footer {
  margin-bottom: -.5rem;
  margin-left: -0.4rem;
  color: #E1DCD9;
}

#nav-button-footer:hover {
  color: black;
  background: none;
}

#footer-title {
  margin-top: 1rem;
  font-size: 7rem;
  max-width: 50rem;
  color: #E1DCD9;
}

#email-submit {
  margin-bottom: 2rem;
}

#payment-button {
  margin-top: -1rem;
  margin-left: 11rem;
  margin-bottom: 3rem;
}

#brand-elements {
  margin-bottom: 5rem;
}
