body {
  padding: 2rem;
  background-color: #E1DCD9;
  font-size: 16px;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: "ApfelGrotezk";
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #8597B1;
}

footer {
  background-color: #8597B1;
  position: absolute;
  height: 25rem;
      bottom: 100;
      left: 0;
      right:0;
      padding: 2rem;
      display: flex;
}

/* Texts */

h1 {
  font-family: "Unbounded";
  font-size: 4rem;
  margin-bottom: 1rem;
  /* color: #8597B1; */
}

h2 {
  font-family: "Gopher";
  /* color: #8597B1; */
}

h3 {
  font-family: "Gopher";
  /* font-style: italic; */
  margin-top: 1rem;
  /* color: #8597B1; */
}

h4 {
  font-family: "Gopher";
  margin-top: 1rem;
  /* color: #8597B1; */
}

h6 {
  font-family: "Gopher";
  margin-bottom: 0.25rem;
  opacity: 0.8;
}

p {
  font-family:"ApfelGrotezk";
  color: black;
  margin-top: 0;
}

code {
  background-color: #F8F2EF;
  padding: 0.5rem;
  display: block;
}

header {
  text-align: center;
}

label {
  font-family: "ApfelGrotezk";
  /* color: #0B1957; */
  padding-right: 0.5rem;
}


/* List Content */
li {
  /* font-family: "ApfelGrotezk" */
}


img {

}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

/* Navigation Bar */

nav a:hover, nav a:focus {
  text-decoration: none;
}

.nav-button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  padding: 0.7rem;
  color: #6F826A;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 1.1rem;
}

.nav-button:hover {
  color: #505B4D;
}

.nav-button:focus {
  color: #505B4D;
}

.nav-menu {
  text-align: center;
  padding-bottom: 2rem;

}

/* Submit/Reset Buttons */
.submit-button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #6F826A;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.submit-button:hover {
  background-color: #505B4D;
}

.submit-button:focus {
  background-color: #505B4D;
}

.reset-button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #6F826A;;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.reset-button:hover {
  background-color: #505B4D;
}

.reset-button:focus {
  background-color: #505B4D;
}

/* Form/Comment Elements */

.input-button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  color: white;
  background-color: #6F826A;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.input-button:hover {
  background-color: #505B4D;
}

.input-button:focus {
  background-color: #505B4D;
}

.text-input {
  font-family: "ApfelGrotezk";
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  border: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin-top: 0.5rem;
  min-width: 20rem;
  max-width: 30rem;
}

/*Referenced from: https://stackoverflow.com/questions/27644314/how-to-make-only-placeholder-italics-in-input */
.text-input:placeholder-shown {
  font-style: italic;
}

.text-input:hover {
background-color: #8597B1;
}

.text-input:focus {
  outline: 0.1rem solid #6F826A;
}



/* Buttons */

.button {
  font-family: "ApfelGrotezk";
  display: inline-block;
  padding: 0.5rem;
  background-color: #6F826A;
  color: white;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 1.5rem;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.button:hover {
  background-color: #505B4D;
}

.button:focus {
  background-color: #505B4D;
}

/*  Checkout Elements */

.img-checkout {

}

.img-checkout * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.img-checkout img {
  max-width: 9rem;
  max-height: 9rem;
}
.img-checkout:hover > img {
  opacity: 0.7;
}

.img-checkout:focus > img {
  filter:brightness(70%);
}

.checkout-product-container {
  display: flex;
  align-items: center;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #505B4D;
  padding: 0.5rem;
}

.product-img-checkout {
  align-items: center;
}

.product-checkout-description {
  align-items: center;
  margin: 2rem;
}

.total {
  padding-left: 11rem;
}

.payment-button {
    font-family: "ApfelGrotezk";
    display: inline-block;
    padding: 0.5rem;
    background-color: #6F826A;
    color: white;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 1.5rem;
    font-size: 1rem;
    margin-left: 11rem;
    margin-bottom: 3rem;
  }

  .payment-button:hover {
    background-color: #505B4D;
  }

  .payment-button:focus {
    background-color: #505B4D;
  }

  .payment-form {
    margin-top: -1rem;
    margin-bottom: 3rem;
  }

  .checkout{
    padding-right: 7rem;
    padding-left: 7rem;
  }

/* Image Links */

.image-link {
  max-width: 50rem;
  max-height: 50rem;
}

/* Referenced from https://www.30secondsofcode.org/css/s/image-overlay-hover/ */
.image-link * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.image-link img {
  vertical-align: top;
  backface-visibility: hidden;
  max-width: 30rem;
  max-height: 30rem;
}

.image-link:hover > img {
  opacity: 0.5;
}

.image-link:focus {
  /* Referenced from https://www.tutorialspoint.com/how-to-darken-an-image-using-css */
  filter: brightness(70%);
}

/* Radio Buttons */

.radio {
  accent-color: #505B4D;
  padding-top: 0.5rem;
  border: 0.2rem solid #6F826A;
  border-radius: 50%;
  align-items: center;
  height:0.8rem;
  width: 0.8rem;
}

.radio:hover {
  border-style: double;
}

/*First and Last Name Container */

.first-last-name-container {
  display: flex;
  align-items: center;
  max-width: 40rem;
  padding-top: 0.9rem;
}

.firstname-input {
    font-family: "ApfelGrotezk";
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 1.5rem;
    border: none;
    flex:1;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.firstname-input:hover {
  background-color: #505B4D;
}

.firstname-input:focus {
  outline: 0.1rem solid #6F826A;
}

.lastname-input {
  font-family: "ApfelGrotezk";
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  border: none;
  flex:1;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.lastname-input:focus {
outline: 0.1rem solid #6F826A;
}

.lastname-input:hover {
background-color: #505B4D;
}

.first-name {
  max-width: 20rem;
  flex:1;
}

.last-name {
  padding-left: 0.5rem;
  margin-left: 1rem;
  max-width: 20rem;
}

.email-add {
  max-width: 60rem;
  min-width: 20rem;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
  font-family: "ApfelGrotezk";
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  border: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.email-add:hover {
background-color: #505B4D;
}

.city-input{
  /* max-width: 60rem;
  min-width: 20rem; */
  width: 15rem;
  margin-top: 0.8rem;
  font-family: "ApfelGrotezk";
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  border: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.postal-input {
  /* max-width: 60rem;
  min-width: 20rem; */
  width:15rem;
  margin-top: 0.8rem;
  font-family: "ApfelGrotezk";
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.5rem;
  border: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.postal-input:focus {
outline: 0.1rem solid #6F826A;
}
.city-input:focus {
outline: 0.1rem solid #6F826A;
}

.postal-input:hover {
background-color: #9ECCFA;
}
.city-input:hover {
background-color: #505B4D;
}

/* Product Listing */
.product-listing-description {
  max-width: 30rem;
  flex:1;
  margin-left: 3rem;
}

.individual-product-img {
  max-width:30rem;
  max-height:30rem;
  flex-wrap: wrap;
}

.product-listing {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
padding-bottom: 5rem;
padding-top: 3rem;
}

/* Moodboard */
.moodboard{
  max-width: 40rem;
}

.product-qty{
  margin-left: -0.4rem;
  width: 2rem;
  font-family: "ApfelGrotezk"
}

/* product listings */

.product-list-container {
  display: grid;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  align-items: center;

}

.product-container{
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: #505B4D;
  flex-grow:1;
  align-items: center;
  padding:0.5rem;
}

.product-container img{
  width: 20rem;
  height: 20rem;
  align-items: center;

}

 .column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0.5rem;
  align-items: center;
}

.row {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

/* breakpoints */

@media screen and (max-width: 60rem) {
  .product-listing {
    flex-direction: column;
  }
}

@media (min-width: 10rem) {
  .row{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 49rem) {
  .row{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 90rem) {
  .row{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer-container {
  display: flex;
  margin-top: -1rem;
}

.footer-element {
  padding-right: 2rem;
  padding-left: 2rem;
}

#CompName {
  padding-top: -4.5rem;
}
#comment-footer {
  margin-top: 3rem;
}
#nav-footer {
  padding-top: 2rem;
}
#nav-title-footer {
  margin-bottom:0.5rem;
  font-size: 1.5rem;
}
#nav-button-footer {
  margin-left: -0.4rem;
}

#about {
  margin-bottom: 3rem;
  margin-top: -1rem;

}

.purchased {
  text-align:center;
  margin-top: -5rem;
  padding: 10rem;
}

.contact-page {
  margin-top: -3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}